body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  background-color: lightgray;
  background-size: cover;
  margin: 0;
  }

.page-title {
  text-align: center;
  font-weight: 100;
  color: rgb(255,255,255);
}

.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-direction:column;
  justify-content:center;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail{
  max-width: 600px;
  max-height: 600px;
}

#header{
  padding-top: 5px;
}

figure{
  flex-flow: column;
  max-width: 600px;
  border: 10px solid #fff;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

ul {
  list-style-type: square;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: rgb(216,218,190);
	font-size: 56px;
}

h2 {
  font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

ul{
  border: 2px solid white;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}
#footer {
  font-size: 0.75rem;
}
