body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  background-color: lightgray;
  background-position: center top;
  background-size: cover;
  margin: 0;
  }

.page-title {
  text-align: center;
  font-weight: 100;
}

.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  border: 10px solid #fff;
}

ul {
  list-style-type: square; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: rgb(216,218,190);
	font-size: 56px;
}

h2 {
  font-family: 'Roboto', sans-serif;
	font-size: 32px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}
#footer {
  font-size: 0.75rem;
}
