.qoute{
  min-height: 100px;
  background-color: lightgray;
  border: 10px solid red;
  padding:5px;
}

.button {
  background-color: gray;
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 90px 40px;
  cursor: pointer;
}
