.qoute{
  min-height: 100px;
  background-color: #FFFFFF;
  border: 10px solid #F9F9F9;
  padding:10px;
}

.button {
  background-color: gray;
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 90px 40px;
  cursor: pointer;
}
